<mat-card>
  <mat-card-header>
    <mat-card-title>My Todo</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #myForm="ngForm" (submit)="addTodo()">
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="4 1 auto">
          <input matInput placeholder="할일" id="input_todo" name="todo" #name="ngModel"
                 [(ngModel)]="todoVO.todo" required>
          <mat-hint align="start" style="color: red;">{{!name.value? '할일을 입력하세요' : ''}}</mat-hint>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" fxFlex="1 1 auto"
          [disabled]="!myForm.form.valid">추가</button>
      </div>
    </form>

    <div class="table mt-2">
      <div class="tr">
        <div class="th">완료</div>
        <div class="th">todo</div>
        <div class="th">생성일</div>
        <div class="th">수정일</div>
        <div class="th">삭제</div>
      </div>
      <ng-template ngFor let-todo [ngForOf]="todoList" let-idx="index">
        <div class="tr" [@flyInOut]="'in'" *ngIf="!todo.isEdited" appHighlight [highlightColor]="'#c8fffb'">
          <div class="td">{{todo.isFinished ? '완료' : '미완료'}}</div>
          <div class="td">{{todo.todo}}</div>
          <div class="td">{{todo.created}}</div>
          <div class="td">{{todo.updated}}</div>
          <div class="td">
            <button mat-raised-button color="accent" (click)="save(todo)">수정</button>
            <button mat-raised-button color="warn" (click)="removeTodo(todo.todo_id, idx)">삭제</button>
          </div>
        </div>
        <div class="tr" [@flyInOut]="'in'" *ngIf="todo.isEdited" appHighlight [highlightColor]="'#c8fffb'">
          <div class="td"><input type="checkbox" [value]="todo.isFinish"></div>
          <div class="td"><input [(ngModel)]="todo.todo"> </div>
          <div class="td">{{todo.created}}</div>
          <div class="td">{{todo.updated}}</div>
          <div class="td">
            <button mat-raised-button color="accent" (click)="modifyTodo(todo)">저장</button>
            <button mat-raised-button color="warn" (click)="restore(todo)">취소</button>
          </div>
        </div>
      </ng-template>

    </div>
  </mat-card-content>
</mat-card>
