<mat-card>
  <mat-card-header>
    <mat-card-title>My Todo</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row">
      <input type="text" placeholder="할일" id="input_todo" fxFlex="4 1 auto">
      <button type="button" fxFlex="1 1 auto" class="active">추가</button>
    </div>

    <div class="table mt-2">
      <div class="tr">
        <div class="th">완료</div>
        <div class="th">todo</div>
        <div class="th">생성일</div>
        <div class="th">수정일</div>
        <div class="th">삭제</div>
      </div>
      <div class="tr">
        <div class="td">a</div>
        <div class="td">b</div>
        <div class="td">c</div>
        <div class="td">d</div>
        <div class="td">e</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
