<mat-card>
  <mat-card-header>
    <mat-card-title>
      ng2spring 카페 회원가입
    </mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="register()" novalidate>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput formControlName="nickname" placeholder="닉네임">
        <mat-error *ngIf="form.controls['nickname'].hasError('required')
          && form.controls['nickname'].touched">닉네임을 입력하세요</mat-error>
        <mat-error *ngIf="form.controls['nickname'].hasError('minlength')
        && form.controls['nickname'].touched">4자이상 12자이하 입력하세요</mat-error>
      </mat-form-field>
      <mat-checkbox class="mt-1" formControlName="isTerm">
        이용약관동의
      </mat-checkbox>
      <div class="term-box">
        <div>
          <p>제1조 총칙
          </p>
          <p>
            여기는 이용약관 동의가 들어갑니다.
        </div>
      </div>
      <mat-checkbox formControlName="isInfo">개인정보이용동의</mat-checkbox>
      <div class="term-box">
        <div>
          <p>
            제 1 장 총 칙
          </p>　
          <p>
            여기는 개인정보이용동의가 들어갑니다.
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field>
          <input matInput placeholder="우편번호" formControlName="postcode" readonly class="postcodify_postcode5">
        </mat-form-field>

        <button mat-raised-button type="button" id="postcode">우편번호</button>
      </div>
      <mat-form-field>
        <input matInput placeholder="주소" formControlName="address" readonly class="postcodify_address">
      </mat-form-field>
      <mat-form-field class="mb-1">
        <input matInput placeholder="생일" formControlName="birthday" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">
        가 입
      </button>
    </mat-card-content>
  </form>
</mat-card>

<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p>
