.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1280px;
  max-height: 100%;
}

button.mat-menu-item {
  line-height: initial;
}

button[mat-menu-item] svg {
  transition: all .5s;
}

button[mat-menu-item]:hover svg {
  transform: rotateY(180deg) scale(1.1);
  fill: cyan;
}

button[mat-button] svg{
  transition: all .5s;
  fill: white;
}

button[mat-button]:hover svg {
  transform: rotateY(180deg) scale(1.1);
  fill: cyan;
}
